<nav>
  <div class="site-title">
    <a href="/"><h1>Blog</h1></a>
    <p>My First Site</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/register">register</a></li>
    <li><a href="/login">Login</a></li>
    <li><a href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
